@model HenriJervsonGrainWarehouse.Models.WarehouseViewModel

@{
    ViewData["Title"] = "Warehouse";
}

<h1>Warehouse</h1>
<h4>All Data about Entering And Leaving Cargo Is Shown Here</h4>

<form asp-controller="Warehouse" asp-action="WarehouseView" method="get">
    <p>
        <label for="CarNumber">Car Number:</label>
        <select asp-for="CarNumber" asp-items="Model.CarNumbers">
            <option value="">All</option>
        </select>

        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cargos![0].CarNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargos![0].EnteringMass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargos![0].LeavingMass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargos![0].CargoBrought)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cargo in Model.Cargos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => cargo.CarNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cargo.EnteringMass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cargo.LeavingMass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cargo.CargoBrought)
                </td>
            </tr>
        }
        <tr>
            <td>
                Total Mass:
            </td>
            <td></td>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => Model.TotalMass)
            </td>
            <td></td>
        </tr>
    </tbody>
</table>